#copyright {
    font-size: 0.875em;
    color: var(--color-white);
    background-color: var(--color-primary);
    padding-top: 1.5rem;
    padding-bottom: 1rem;

    @include media-breakpoint-up(lg) {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    > .container {
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up(md) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    a {
        &:hover,
        &:focus,
        &.is-active {
            color: var(--color-secondary);
        }
    }

    .copyright-links {
        margin-bottom: 1.5rem;

        @include media-breakpoint-up(lg) {
            margin-bottom: unset;
        }
    }

    a.build-by {
        display: flex;
        align-items: center;
        text-decoration: none;

        &:hover,
        &:focus {
            span.icon-logo-ef2 {
                &:after {
                    background-color: var(--color-secondary);
                }
            }
        }

        span.icon-logo-ef2 {
            font-size: 0;

            &:after {
                @include icon($icon-name: 'logo-ef2', $icon-color: var(--color-white), $icon-size: 1.875rem);
                margin-left: 0.5rem;
                transition: $transition-hover;
            }
        }
    }
}