footer {
    @include dark-theme;
    background-color: var(--color-secondary);

    .inner-footer {
        padding-top: 3rem;
        padding-bottom: 3rem;

        @include media-breakpoint-up(lg) {
            padding-top: 4.5rem;
            padding-bottom: 3.5rem;
        }

        &__social-media {
            margin-top: 1rem;

            a {
                &[href*=linkedin] {
                    font-size: 0;
                    display: block;
                    transition: $transition-hover;
                    @include icon('social-linkedin', 1.5rem, var(--color-white));

                    &:hover,
                    &:focus {
                        background-color: var(--color-primary);
                    }
                }
            }
        }
    }

    h2 {
        @include h4;
        color: var(--color-white);
    }

    a {
        text-decoration: none;
    }

    p {
        margin-bottom: 1rem;
    }

    .site-brand {
        img {
            filter: #{"brightness(0) invert(1)"};
            max-width: 7.5rem;
        }
    }
}