.header-wrapper {
    position: relative;
    background: linear-gradient(135.29deg, #2E3A7B -4.88%, #C4267E 83.19%);
    color: var(--color-white);

    &__content {
        position: relative;
        z-index: 2;
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;

        @include media-breakpoint-up(lg) {
            padding-top: 8rem;
            padding-bottom: 8rem;
        }

        h1 {
            margin-bottom: 0;
        }

        .intro-text {
            color: var(--color-white);
        }
    }

    &__image {
        max-width: 50vw;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;

        @include media-breakpoint-up(lg) {
            max-width: 42vw;
        }

        .header-image {
            mask-image: url('images/shape-clip.svg');
            mask-position: top left;
            mask-repeat: no-repeat;
            mask-size: auto 210%;
            height: 100%;

            @include media-breakpoint-up(lg) {
                mask-size: auto 120%;
            }

            @include media-breakpoint-up(xxl) {
                mask-size: 105%;
            }

            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .btn--outline {
        @include btn-outline-white;
    }
}