header {
    @include full-width-background(var(--color-white));
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    isolation: isolate;
    z-index: 5;

    &:before {
        box-shadow: 0 10px 30px rgba(46, 58, 123, 0.2);
        z-index: 0;
    }

    .site-brand {
        position: relative;

        img {
            max-height: 2.625rem;

            @include media-breakpoint-up(md) {
                max-height: unset;
            }
        }
    }
}