/*
	Styling for menus
*/

nav {
    ul.menu {
        margin: 0;

        li {
            list-style: none;
            padding: 0;

            &.current_page_item {
                > a {
                    color: var(--color-primary);
                }
            }

            &.menu-item-has-children {
                & > a {
                    position: relative;

                    &:after {
                        @include icon($icon-name: 'chevron-down', $icon-size: 0.75em);
                        @include center-absolute-Y;
                        transition: $transition-hover;
                        right: 0;
                    }
                }
            }

            &.menu-btn {
                a {
                    @include media-breakpoint-up(lg) {
                        @include btn-primary;
                        color: var(--color-white);
                    }
                }
            }

            a, button {
                text-decoration: none;
                display: inline-block;

                &:hover,
                &:focus {
                    color: var(--color-primary);
                }
            }
        }
    }
}

//Mainmenu
body {
    @include media-breakpoint-between(xs, lg) {
        /*
            Hamburger with menu-toggle is visible
        */

        .main-navigation {
            & > div {
                @include make-container();
                position: fixed;
                overflow-y: auto;
                left: 0;
                top: 4.625rem;
                background-color: var(--color-white);
                min-height: calc(100vh - 4.625rem);
                height: 100%;
                opacity: 0;
                visibility: hidden;
                transition: all 0.5s;
                z-index: -1;
                display: flex;
                flex-direction: column;

                & > .main-menu-title {
                    color: var(--color-secondary);
                    margin-top: 3rem;
                }

                & > ul.menu {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    & > li {
                        opacity: 0;
                        transition: all .0s;
                        transition-delay: 0s;
                        border-bottom: 1px solid var(--color-background);

                        &:last-of-type {
                            border: none;
                        }

                        a:not(.btn--primary) {
                            color: var(--color-secondary);
                            width: 100%;

                            &:hover,
                            &:focus {
                                color: var(--color-primary);
                            }
                        }

                        & > a:not(.btn--primary) {
                            display: inline-flex;
                            align-items: center;
                            font-weight: $font-weight-bold;
                            padding-top: 1em;
                            padding-bottom: 1em;
                            font-size: 0.9375rem;
                        }

                        & > a.btn--primary {
                            margin-top: 1em;
                            margin-bottom: 1em;
                        }

                        &.current-menu-item,
                        &.current-menu-ancestor {
                            & > a {
                                color: var(--color-primary);
                            }
                        }

                        &.current-menu-ancestor {
                            & > .sub-menu {
                                & > .current-menu-item {
                                    & > a {
                                        color: var(--color-primary);
                                    }
                                }
                            }
                        }

                        // Submenu
                        &.menu-item-has-children {
                            & > .menu-item-has-children-toggle {
                                &:after {
                                    transition: $transition-hover;
                                }
                            }

                            &.open {
                                & > .menu-item-has-children-toggle {
                                    color: var(--color-primary);

                                    &:after {
                                        transform: rotate(-180deg);
                                    }
                                }

                                .sub-menu {
                                    visibility: visible;
                                    max-height: 35rem;
                                    opacity: 1;
                                    transition-duration: 0.1s;
                                    transition-delay: 0s;
                                }
                            }

                            & > button {
                                display: inline-flex;
                                align-items: center;
                            }

                            .sub-menu {
                                visibility: hidden;
                                opacity: 0;
                                max-height: 0;
                                overflow: hidden;
                                transition: all 0.3s ease-in-out;
                                padding-left: 1em;

                                li {
                                    a, button {
                                        margin-bottom: 1em;

                                        &:hover,
                                        &:focus {
                                            color: var(--color-primary);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.main-menu-active {
            position: fixed;
            max-width: 100vw;
            width: 100%;

            header {
                &:before {
                    box-shadow: 0 2px 2px rgba(204, 206, 210, 0.2);
                }
            }

            .main-navigation {
                & > div {
                    visibility: visible;
                    opacity: 1;

                    & > ul.menu {
                        & > li {
                            opacity: 1;
                            transition-duration: 0.8s;
                            transition-delay: 0.2s;
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .main-navigation {
            & > div {
                margin-left: auto;

                & > ul.menu {
                    display: flex;
                    align-items: center;
                    padding-right: -0.5rem;
                    padding-left: -0.5rem;

                    @include media-breakpoint-up(xl) {
                        padding-right: -1rem;
                        padding-left: -1rem;
                    }

                    & > li {
                        display: inline-block;
                        position: relative;

                        a:not(.btn--primary), button {
                            color: var(--color-secondary);

                            &:before {
                                display: block;
                                content: '';
                                border-bottom: solid 2px var(--color-secondary);
                                transform: scaleX(0);
                                transform-origin: 100% 50%;
                                transition: transform 0.25s ease-in-out;
                                position: absolute;
                                bottom: 0;
                                width: calc(100% - 2.875rem);
                                left: 1.4375rem;
                            }

                            &:hover,
                            &:focus {
                                color: var(--color-secondary);

                                &:before {
                                    transform: scaleX(1);
                                    transform-origin: 0% 50%;
                                }
                            }
                        }

                        &.open {
                            a:not(.btn--primary), button {
                                &:focus {
                                    &:before {
                                        content: none;
                                    }
                                }
                            }
                        }

                        & > a,
                        & > button {
                            padding-right: 0.5rem;
                            padding-left: 0.5rem;
                            font-weight: $font-weight-bold;
                            text-align: center;
                            font-size: 1.125rem;

                            @include media-breakpoint-up(xl) {
                                padding-right: 1.4375rem;
                                padding-left: 1.4375rem;
                            }
                        }

                        &.menu-btn {
                            a {
                                color: var(--color-white);

                                @include media-breakpoint-up(lg) {
                                    margin-left: 1.4375rem;
                                }

                                &:not(:disabled):hover,
                                &:not(:disabled):focus {
                                    color: var(--color-white);

                                    &:before {
                                        content: none;
                                    }
                                }
                            }
                        }
                    }

                    li {
                        // Submenu
                        &.menu-item-has-children {
                            &.open {
                                & > a {
                                    color: var(--color-primary);

                                    &:after {
                                        transform: translateY(-50%) rotate(-180deg);
                                    }
                                }

                                .sub-menu {
                                    visibility: visible;
                                    opacity: 1;
                                    transition-duration: 0.1s;
                                    transition-delay: 0s;
                                }
                            }

                            & > button {
                                display: inline-flex;
                                align-items: center;

                                &:after {
                                    @include icon($icon-name: 'chevron-down', $icon-size: 0.777em);
                                    margin-left: 0.5em;
                                }
                            }

                            .sub-menu {
                                position: absolute;
                                top: 100%;
                                padding: 1rem;
                                background-color: var(--color-white);
                                width: auto;
                                opacity: 0;
                                visibility: hidden;
                                transition: all 0.1s ease-in-out, visibility 0.1s ease-in-out;
                                border-radius: $border-radius;
                                box-shadow: 0px 10px 30px rgba(46, 58, 123, 0.2);
                                margin-top: 0.8rem;

                                li {
                                    a:not(.btn--primary), button {
                                        &:hover,
                                        &:focus {
                                            &:before {
                                                content: none;
                                            }
                                        }
                                    }
                                }

                                li:not(:last-of-type) {
                                    margin-bottom: 0.5em;
                                }
                            }
                        }

                        &.current-menu-item:not(.menu-btn),
                        &.current-menu-ancestor {
                            & > button,
                            & > a {
                                color: var(--color-primary);
                            }
                        }
                    }
                }
            }
        }
    }
}