@use "sass:color";

@mixin btn {
    display: inline-flex;
    position: relative;
    color: var(--color-white);
    font-size: $btn-font-size-sm;
    font-family: $btn-font-family;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    padding: $btn-padding-y-sm $btn-padding-x-sm;
    border-radius: $btn-border-radius-sm;
    border: 2px solid transparent;
    transition: $btn-transition;
    text-align: center;
    text-decoration: none;
    margin: 0.25em 0.5em 0.25em 0;
    outline-offset: 4px;

    @include media-breakpoint-up(sm) {
        font-size: $btn-font-size-lg;
        padding: $btn-padding-y-lg $btn-padding-x-lg;
        border-radius: $btn-border-radius-lg;
    }

    &:not(:disabled):hover,
    &:not(:disabled):focus {
        color: var(--color-white);
    }

    &:not(:disabled):focus-visible {
        outline: 1px dashed transparent;
        box-shadow: none;
    }
}

@mixin btn-primary {
    @include btn;
    background: var(--color-primary);

    &:not(:disabled):hover,
    &:not(:disabled):focus {
        border-color: var(--color-primary-dark);
        box-shadow: $btn-box-shadow;
    }

    &:not(:disabled):focus-visible {
        outline-color: var(--color-primary);
    }
}

@mixin btn-secondary {
    @include btn;
    background: var(--color-secondary);

    &:not(:disabled):hover,
    &:not(:disabled):focus {
        border-color: var(--color-secondary-light);
    }

    &:not(:disabled):focus-visible {
        outline-color: var(--color-secondary);
    }
}

@mixin btn-outline {
    @include btn;
    color: var(--color-primary);
    background: transparent;
    border-color: currentColor;

    &:not(:disabled):hover,
    &:not(:disabled):focus {
        color: var(--color-primary-dark);
        border-color: currentColor;
    }

    &:not(:disabled):focus-visible {
        outline-color: var(--color-primary-dark);
    }
}

@mixin text-link {
    @include font-size-clamp(0.875rem, 5.5vw, 0.9375rem);
    color: var(--color-primary);
    font-weight: $btn-font-weight;
    text-decoration: none;
    outline-offset: 4px;
    box-shadow: none;
    display: inline-flex;
    align-items: center;

    &:not(:disabled):hover,
    &:not(:disabled):focus {
        color: var(--color-primary-dark);

        &:after {
            background-color: currentColor;
            transform: translateX(0.25em);
        }
    }

    &:not(:disabled):focus-visible {
        outline: 1px dashed currentColor;
    }

    &:after {
        @include icon('arrow-right', 0.8em, var(--color-primary));
        margin-left: 0.5em;
        transition: $transition-hover;
    }
}

.btn {
    &--primary {
        @include btn-primary;
    }

    &--secondary {
        @include btn-secondary;
    }

    &--outline {
        @include btn-outline;
    }
}

.text-link {
    @include text-link;
}