// Input
input[type=email],
input[type=password],
input[type=text],
input[type=number],
input[type=tel],
textarea {
    display: block;
    width: 100%;
    height: auto;
    padding: $input-padding-y $input-padding-x;
    font-family: $input-font-family;
    font-weight: $input-font-weight;
    line-height: $input-line-height;
    color: $input-color;
    background-color: $input-bg;
    background-clip: padding-box;
    border-width: $input-border-width;
    border-style: solid;
    border-color: $input-border-color;
    border-radius: $input-border-radius;

    // Placeholder
    &::placeholder {
        color: $input-placeholder-color;
        opacity: 1; // Override Firefox's unusual default opacity
    }

    &:focus-visible {
        box-shadow: none;
    }
}

input[type=submit] {
    @include btn-primary;
    cursor: pointer;
}

select {
    border: 1px solid var(--color-primary);
}

textarea {
    width: 100%;
}

.wpcf7 {
    margin: 2rem 0;
}