/*
	Hamburger toggle
*/

button.menu-toggle {
    $icon-line-height:          3px;
    $icon-line-width:           18px;
    $icon-line-space:           4px;
    $icon-line-border-radius:   0;
    $icon-line-color:           var(--color-white);

    position: relative;
    z-index: 1;
    align-items: center;
    margin-left: auto;
    padding: 0.75rem;
    border-radius: $btn-border-radius-sm;
    background-color: var(--color-primary);
    border: none;
    height: 2.625rem;
    width: 2.625rem;
    display: block;

    @include media-breakpoint-up(lg) {
        display: none;
    }

    .bars {
        width: $icon-line-width;
        height: $icon-line-height;
        background-color: $icon-line-color;
        border-radius: $icon-line-border-radius;
        position: absolute;
        display: block;
        top: calc(#{$icon-line-height*5} + #{$icon-line-space*3});
        bottom: 0;
        transition-delay: 0.13s;
        transition-timing-function: cubic-bezier(.55, .055, .675, .19);
        transition-duration: 0.13s;

        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            background-color: $icon-line-color;
            width: $icon-line-width;
            height: $icon-line-height;
            border-radius: $icon-line-border-radius;
        }

        &:before {
            top: calc(#{-$icon-line-height} + #{-$icon-line-space});
            transition: top .12s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
        }

        &:after {
            top: calc(#{-$icon-line-height*2} + #{-$icon-line-space*2});
            transition: top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,opacity .1s linear;
        }
    }

    &[aria-expanded='true'] {
        .bars {
            transition-delay: 0.22s;
            transition-timing-function: cubic-bezier(.215,.61,.355,1);
            transform: translate3d(0,-8px,0) rotate(-45deg);
            width: $icon-line-width;

            &:before {
                transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .16s,transform .13s cubic-bezier(.215,.61,.355,1) .25s;
                transform: rotate(-90deg);
                top: 0;
            }
            &:after {
                transition: top .2s cubic-bezier(.33333,0,.66667,.33333),opacity .1s linear .22s;
                opacity: 0;
                top: 0;
            }
        }
    }
}

