.teaser {
    &__text {
        margin-bottom: 1.5rem;

        @include media-breakpoint-up(lg) {
            margin-bottom: 2rem;
        }
    }

    .label {
        margin-top: 1.5rem;

        @include media-breakpoint-up(lg) {
            margin-top: 2rem;
        }
    }

    h3 {
        margin-top: 0.5rem;
        margin-bottom: 1rem;

        @include media-breakpoint-up(lg) {
            margin-bottom: 2rem;
        }
    }
}

.teasers {
    .row {
        gap: 2rem;

        @include media-breakpoint-up(lg) {
            gap: unset;
        }
    }
}