body {
    @include font-size-clamp(0.875rem, 5.5vw, 0.9375rem);
    font-weight: $font-weight-base;
    color: var(--color-text);
    font-family: $font-family-base;
    line-height: $line-height-base;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale;
}

h1,
.virtual-h1 {
    @include h1;
    margin-bottom: 0.57em;
}

h2,
.virtual-h2 {
    @include h2;
    margin-bottom: 1em;
}

h3,
.virtual-h3 {
    @include h3;
    margin-bottom: 1em;
}

h4,
.virtual-h4 {
    @include h4;
    margin-bottom: 0.5em;
}

.subtitle {
    @include subtitle;
    margin-bottom: 1em;
}

.intro-text {
    @include intro-text;
}

p {
    margin-bottom: $paragraph-margin-bottom;
}

ul {
    list-style: none;
}

a, button {
    color: var(--color-primary);
    text-decoration: underline;
    transition: $transition-hover;

    &:hover,
    &:focus {
        color: var(--color-primary-darker);
    }
}

blockquote {
    @include h1;
    font-weight: $font-weight-bold;
    margin: 0 0 0.57em 0;

    p {
        margin-bottom: 0;

        &:before {
            content: open-quote;
            display: inline;
        }

        &:after {
            content: close-quote;
            display: inline;
        }
    }
}

.label {
    color: var(--color-primary);
    font-size: 0.9375rem;
    font-weight: $font-weight-bold;
    margin-bottom: 0;

    @include media-breakpoint-up(lg) {
        font-size: 1.125rem;
        margin-bottom: 0.5rem;
    }
}

p {
    &:not(.label):not(.teaser__text) {
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

#page {
    ul:not(.menu):not(.sub-menu) {
        li {
            display: flex;

            &:not(:last-of-type) {
                margin-bottom: 0.75rem;

                @include media-breakpoint-up(lg) {
                    margin-bottom: 1rem;
                }
            }

            &:before {
                @include icon('check', 1em, var(--color-primary));
                height: 1.8em;
                flex: 0 0 auto;
                margin-right: 1.125rem;

                @include media-breakpoint-up(lg) {
                    margin-right: 1.75rem;
                }
            }
        }
    }
}