/*
    Classes
*/

$utilities: (
        'margin': (
                responsive: true,
                property: margin,
                class: m,
                values:
                map-merge(
                                $spacers,
                                (
                                        auto: auto
                                )
                )
        ),
        'margin-x': (
                responsive: true,
                property: margin-right margin-left,
                class: mx,
                values:
                map-merge(
                                $spacers,
                                (
                                        auto: auto
                                )
                )
        ),
        'margin-y': (
                responsive: true,
                property: margin-top margin-bottom,
                class: my,
                values:
                map-merge(
                                $spacers,
                                (
                                        auto: auto
                                )
                )
        ),
        'margin-top': (
                responsive: true,
                property: margin-top,
                class: mt,
                values:
                map-merge(
                                $spacers,
                                (
                                        auto: auto
                                )
                )
        ),
        'margin-end': (
                responsive: true,
                property: margin-right,
                class: me,
                values:
                map-merge(
                                $spacers,
                                (
                                        auto: auto
                                )
                )
        ),
        'margin-bottom': (
                responsive: true,
                property: margin-bottom,
                class: mb,
                values:
                map-merge(
                                $spacers,
                                (
                                        auto: auto
                                )
                )
        ),
        'margin-start': (
                responsive: true,
                property: margin-left,
                class: ms,
                values:
                map-merge(
                                $spacers,
                                (
                                        auto: auto
                                )
                )
        ),
        'padding': (
                responsive: true,
                property: padding,
                class: p,
                values: $spacers
        ),
        'padding-x': (
                responsive: true,
                property: padding-right padding-left,
                class: px,
                values: $spacers
        ),
        'padding-y': (
                responsive: true,
                property: padding-top padding-bottom,
                class: py,
                values: $spacers
        ),
        'padding-top': (
                responsive: true,
                property: padding-top,
                class: pt,
                values: $spacers
        ),
        'padding-end': (
                responsive: true,
                property: padding-right,
                class: pe,
                values: $spacers
        ),
        'padding-bottom': (
                responsive: true,
                property: padding-bottom,
                class: pb,
                values: $spacers
        ),
        'padding-start': (
                responsive: true,
                property: padding-left,
                class: ps,
                values: $spacers
        ),
        'position': (
                responsive: true,
                property: position,
                values: static relative absolute
        ),
        'order': (
                responsive: true,
                property: order,
                class: order,
                values: (
                        0: 0,
                        1: 1,
                        2: 2,
                        3: 3
                )
        ),
        'opacity': (
                property: opacity,
                values: (
                        0: 0,
                        50: 0.5,
                        60: 0.6
                )
        ),
        'text-align': (
                responsive: true,
                property: text-align,
                class: text,
                values: (
                        start: left,
                        end: right,
                        center: center
                )
        ),
        'display': (
                responsive: true,
                print: true,
                property: display,
                class: d,
                values: inline inline-block block grid table table-row table-cell flex inline-flex none
        ),
        'flex': (
                responsive: true,
                property: flex,
                values: (
                        fill: 1 1 auto
                )
        ),
        'flex-direction': (
                responsive: true,
                property: flex-direction,
                class: flex,
                values: row column row-reverse column-reverse
        ),
        'flex-grow': (
                responsive: true,
                property: flex-grow,
                class: flex,
                values: (
                        grow-0: 0,
                        grow-1: 1
                )
        ),
        'flex-shrink': (
                responsive: true,
                property: flex-shrink,
                class: flex,
                values: (
                        shrink-0: 0,
                        shrink-1: 1
                )
        ),
        'flex-wrap': (
                responsive: true,
                property: flex-wrap,
                class: flex,
                values: wrap nowrap wrap-reverse
        ),
        'justify-content': (
                responsive: true,
                property: justify-content,
                values: (
                        start: flex-start,
                        end: flex-end,
                        center: center,
                        between: space-between,
                        around: space-around,
                        evenly: space-evenly
                )
        ),
        'align-items': (
                responsive: true,
                property: align-items,
                values: (
                        start: flex-start,
                        end: flex-end,
                        center: center,
                        baseline: baseline,
                        stretch: stretch
                )
        ),
        'align-content': (
                responsive: true,
                property: align-content,
                values: (
                        start: flex-start,
                        end: flex-end,
                        center: center,
                        between: space-between,
                        around: space-around,
                        stretch: stretch
                )
        ),
        'align-self': (
                responsive: true,
                property: align-self,
                values: (
                        auto: auto,
                        start: flex-start,
                        end: flex-end,
                        center: center,
                        baseline: baseline,
                        stretch: stretch
                )
        ),
        'width': (
                responsive: true,
                property: width,
                class: w,
                values: (
                        20: 30%,
                        30: 30%,
                        40: 40%,
                        50: 50%,
                        100: 100%,
                        auto: auto
                )
        ),
        'height': (
                responsive: true,
                property: height,
                class: h,
                values: (
                        100: 100%,
                        auto: auto
                )
        ),
        'max-width': (
                property: max-width,
                class: mw,
                values: (
                        100: 100%
                )
        ),
        'box-sizing': (
                property: box-sizing,
                values: (
                        border: border-box,
                        content: content-box
                )
        ),
        'z-index': (
                property: z-index,
                values: (
                        auto: auto,
                        0: 0,
                        1: 1,
                        2: 2,
                        3: 3,
                        4: 4,
                        5: 5
                )
        ),
        'viewport-height': (
                responsive: true,
                property: height,
                class: vh,
                values: (
                        100: 100vh
                )
        ),
        'overflow': (
                responsive: true,
                property: overflow,
                values: auto hidden visible scroll
        ),
        'font-weight': (
                property: font-weight,
                class: fw,
                values: (
                        normal: $font-weight-normal,
                        bold: $font-weight-bold
                )
        ),
        'text-decoration': (
                property: text-decoration,
                values: none underline line-through
        ),
        'pointer-events': (
                property: pointer-events,
                class: pe,
                values: none auto
        ),
        'rounded': (
                property: border-radius,
                class: rounded,
                values: (
                        0: 0,
                        1: $border-radius,
                        circle: 50%
                )
        ),
        'top': (
                property: top,
                values: (
                        0: 0,
                        50: 50%,
                        100: 100%
                )
        ),
        'start': (
                property: left,
                class: start,
                values: (
                        0: 0,
                        50: 50%,
                        100: 100%
                )
        ),
        'translate-middle': (
                responsive: true,
                property: transform,
                class: translate-middle,
                values: (
                        xy: translate(-50%, -50%),
                        x: translateX(-50%),
                        y: translateY(-50%)
                )
        ),
        'aspect-ratio': (
                responsive: true,
                property: aspect-ratio,
                values: (
                        16x6: list.slash(16, 6),
                        16x9: list.slash(16, 9)
                )
        ),
        'offset': (
                responsive: true,
                property: margin-left,
                class: offset,
                values: (
                        0: 0,
                        1: 8.333333%,
                        2: 16.666667%,
                        3: 25%,
                        4: 33.333333%,
                        5: 41.666667%,
                        6: 50%,
                        7: 58.333333%,
                        8: 66.666667%,
                        9: 75%,
                        10: 83.333333%,
                        11: 91.666667%
                )
        )
);

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        @each $key, $utility in $utilities {
            @if type-of($utility) == 'map' and (map-get($utility, responsive) or $infix == '') {
                @include generate-utility($utility, $infix);
            }
        }
    }
}

/*
    Accessibility
*/

// Hide element, show on screenreaders
.visually-hidden {
    @include visually-hidden;
}

/*
    Spacing
*/

.section-spacing-padding {
    @include section-spacing-padding;
}

.section-spacing-margin {
    @include section-spacing-margin;
}

/*
    Extra
*/

// White text/dia positive
.dark-theme {
    @include dark-theme;
}