/**
Calculate the width of a Bootstrap column
Use as: width: calc-col(9);
**/

@function calc-col($col) {
    $result: ( math.div($col, 12) );

    @return percentage($result);
}

@function negativify-map($map) {
    $result: ();
    @each $key, $value in $map {
        @if $key != 0 {
            $result: map-merge($result, ('n' + $key: (-$value)));
        }
    }
    @return $result;
}

// Grid.
@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
    $min: map-get($breakpoints, $name);
    @return if($min != 0, $min, null);
}

@function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
    $n: index($breakpoint-names, $name);
    @if not $n {
        @error "breakpoint `#{$name}` not found in `#{$breakpoints}`";
    }
    @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
    $max: map-get($breakpoints, $name);
    @return if($max and $max > 0, $max - .02, null);
}

@function breakpoint-infix($name, $breakpoints: $grid-breakpoints) {
    @return if(breakpoint-min($name, $breakpoints) == null, '', '-#{$name}');
}