@use 'sass:color';
@use 'sass:math';

// Utilities.
@mixin generate-utility($utility, $infix) {
    $values: map-get($utility, values);

    @if type-of($values) == 'string' or type-of(nth($values, 1)) != 'list' {
        $values: zip($values, $values);
    }

    @each $key, $value in $values {
        $properties: map-get($utility, property);

        @if type-of($properties) == 'string' {
            $properties: append((), $properties);
        }

        $property-class: if(map-has-key($utility, class), map-get($utility, class), nth($properties, 1));
        $property-class: if($property-class == null, '', $property-class);

        @if $value != null {
            .#{$property-class + $infix + '-' + $key} {
                @each $property in $properties {
                    #{$property}: $value;
                }
            }
        }
    }
}

@mixin make-container($gutter: $container-padding-x) {
    width: 100%;
    padding-right: var(--#{$variable-prefix}gutter-x, #{$gutter});
    padding-left: var(--#{$variable-prefix}gutter-x, #{$gutter});
    margin-right: auto;
    margin-left: auto;
}

@mixin make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
    @each $breakpoint, $container-max-width in $max-widths {
        @include media-breakpoint-up($breakpoint, $breakpoints) {
            max-width: $container-max-width;
        }
    }
}

@mixin make-row($gutter: $grid-gutter-width) {
    --gutter-x: #{$gutter};

    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-0.5 * var(--gutter-x)); // stylelint-disable-line function-disallowed-list
    margin-left: calc(-0.5 * var(--gutter-x)); // stylelint-disable-line function-disallowed-list
}

@mixin make-col($size: false, $columns: $grid-columns) {
    $width: math.div($size, $columns);

    @if $size {
        flex: 0 0 auto;
        width: math.percentage($width);
    } @else {
        flex: 1 1 0;
        max-width: 100%;
    }
}

@mixin make-col-offset($size, $columns: $grid-columns) {
    $num: math.div($size, $columns);
    margin-left: if($num == 0, 0, math.percentage($num));
}

@mixin make-grid-columns($columns: $grid-columns, $breakpoints: $grid-breakpoints) {
    @each $breakpoint in map-keys($breakpoints) {
        $infix: breakpoint-infix($breakpoint, $breakpoints);

        @include media-breakpoint-up($breakpoint, $breakpoints) {
            .col#{$infix} {
                flex: 1 0 0%;
            }

            @if $columns > 0 {
                @for $i from 1 through $columns {
                    .col#{$infix}-#{$i} {
                        @include make-col($i, $columns);
                    }
                }

                @for $i from 0 through ($columns - 1) {
                    @if not($infix == '' and $i ==0) {
                        .col_offset#{$infix}-#{$i} {
                            @include make-col-offset($i, $columns);
                        }
                    }
                }
            }
        }

        @each $key, $value in $spacers {
            .g#{$infix}-#{$key},
            .gx#{$infix}-#{$key} {
                --gutter-x: #{$value};
            }
        }
    }
}

/*
    Element centering
*/

// Centers an element
@mixin center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


// Centers an element vertically
@mixin center-absolute-Y {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


// Centers an element horizontally
@mixin center-absolute-X {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/*
    Overlays and backgrounds
*/

// Places an overlay over the element. Fills the whole element.
@mixin coloroverlay($color, $opacity: .4) {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color;
        opacity: $opacity;
        z-index: -1;
    }
}

// Fills background outside bootstrap container
@mixin full-width-background($color: var(--color-primary)) {
    position: relative;
    z-index: 0;

    &:before {
        content: '';
        @include center-absolute-X;
        top: 0;
        bottom: 0;
        width: 100vw;
        background-color: $color;
        z-index: -1;
    }
}

// Stretch an absolute item from top to bottom, left to right
@mixin fill-absolute-item {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/*
    Accessibility
*/

// Hides an element but still visible on screenreaders
@mixin visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;

    &.focusable:focus {
        position: static !important;
        overflow: visible;
        clip: auto;
        width: auto;
        height: auto;
    }
}

// Focus box-shadow for accessibility
@mixin focus-box-shadow($color: map-get($colors, 'primary')) {
    box-shadow: 0 0 0 1rem color.adjust($color, $alpha: 0.2%);
}

// Accessibility icons
@mixin icon($icon-name: 'arrow-right', $icon-size: 1em, $icon-color: currentColor) {
    content: '';
    mask: url('images/icons/#{$icon-name}.svg') no-repeat 50% 50%;
    mask-size: contain;
    mask-position: right;
    display: inline-block;
    height: $icon-size;
    width: $icon-size;
    background-color: $icon-color;
}

/*
    Spacing
*/

// Default padding spacing in content blocks
@mixin section-spacing-padding {
    padding-top: 4rem;
    padding-bottom: 4rem;

    @include media-breakpoint-up(lg) {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
}

// Default margin spacing in content blocks
@mixin section-spacing-margin {
    margin-top: 4rem;
    margin-bottom: 4rem;

    @include media-breakpoint-up(lg) {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }
}

// Container max-widths
@mixin make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
    @each $breakpoint, $container-max-width in $max-widths {
        @include media-breakpoint-up($breakpoint, $breakpoints) {
            max-width: $container-max-width;
        }
    }
}

/*
    Extra
*/

// Dark theme
@mixin dark-theme {
    color: var(--color-white);

    a:not([class^='btn']) {
        color: var(--color-white);

        &:hover,
        &:focus {
            color: var(--color-primary);
        }
    }
}