// Responsive font-size
@mixin font-size-clamp($min-font-size, $value-font-size, $max-font-size) {
    font-size: $min-font-size; // Fallback

    @include media-breakpoint-up(sm) {
        font-size: $max-font-size; // Fallback
        font-size: clamp(#{$min-font-size}, calc(#{$value-font-size} + 1rem), #{$max-font-size});
    }
}

// Header styling
@mixin header-styling {
    font-family: $font-family-titles;
    font-weight: $font-weight-bold;
    line-height: 1.3;
}

@mixin h1 {
    @include header-styling;
    @include font-size-clamp(2rem, 5.5vw, 3.5rem);
}

@mixin h2 {
    @include header-styling;
    @include font-size-clamp(1.625rem, 4.5vw, 2.125rem);
}

@mixin h3 {
    @include header-styling;
    @include font-size-clamp(1.25rem, 3.3vw, 1.625rem);
}

@mixin h4 {
    @include header-styling;
    @include font-size-clamp(0.9375rem, 3.3vw, 1.125rem);
}

@mixin subtitle {
    @include header-styling;
    @include h4;
}

@mixin intro-text {
    font-weight: $font-weight-bold;
}
