/**
 * Put all variables here that are necessary for this project
 * Group colors by starting their names with "color-"
 */
@use "sass:color";
@use "functions";

// Colors
$colors: (
    "primary": hsl(29, 100%, 50%),
    "secondary": hsl(196, 100%, 9%),
    "text": hsl(196, 100%, 9%),
    "black": hsl(0, 0%, 0%),
    "white": hsl(0, 0%, 100%),
    "background": hsl(195, 9%, 91%),
    "danger": hsl(0, 79%, 63%),
    "warning": hsl(29, 100%, 50%),
    "valid": hsl(145, 63%, 42%),
);

:root {
    @each $name, $value in $colors {
        --color-#{$name}: #{$value};
        --color-#{$name}-light: #{color.adjust($value, $lightness: 50%)};
        --color-#{$name}-dark: #{color.adjust($value, $lightness: -10%)};
    }
}

// Font weights
$font-weight-normal:  400;
$font-weight-bold:    700;
$font-weight-base:    $font-weight-normal;

// Fonts
$font-family-base:    'Montserrat', sans-serif;
$font-family-titles:  $font-family-base;
$line-height-base:    1.8;

// Margins/Paddings
$paragraph-margin-bottom:   2rem;
$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * 0.5,
    2: $spacer * 1,
    3: $spacer * 1.5,
    4: $spacer * 2,
    5: $spacer * 2.5,
    6: $spacer * 3,
    7: $spacer * 3.5,
    8: $spacer * 4,
    9: $spacer * 4.5,
    10: $spacer * 5,
    11: $spacer * 5.5,
    12: $spacer * 6,
    13: $spacer * 6.5,
    14: $spacer * 7,
    15: $spacer * 7.5,
    16: $spacer * 8,
    17: $spacer * 8.5,
    18: $spacer * 9
);

// Grid.
$grid-columns:          12;
$grid-gutter-width:     2rem;
$container-padding-x:   $grid-gutter-width * .5 !default;
$variable-prefix:       bs- !default;

$grid-breakpoint-xs:    0;
$grid-breakpoint-sm:    576px;
$grid-breakpoint-md:    768px;
$grid-breakpoint-lg:    992px;
$grid-breakpoint-xl:    1200px;
$grid-breakpoint-xxl:   1536px;

$grid-breakpoints: (
    xs: $grid-breakpoint-xs,
    sm: $grid-breakpoint-sm,
    md: $grid-breakpoint-md,
    lg: $grid-breakpoint-lg,
    xl: $grid-breakpoint-xl,
    xxl: $grid-breakpoint-xxl
);

$container-max-widths: (
    sm: 540px,
    md: 648px,
    lg: 832px,
    xl: 960px,
    xxl: 1200px
);

// Aspect ratio.
$aspect-ratios: (
        '1x1': 100%,
        '3x4': calc(4 / 3 * 100%),
        '4x3': calc(3 / 4 * 100%),
        '8x3': calc(3 / 8 * 100%),
        '16x9': calc(9 / 16 * 100%),
        '21x9': calc(9 / 21 * 100%)
);

// Border radius
$border-radius: 0.625rem;

// Transitions
$transition-hover: all 0.1s ease-in-out;

// Button styling
$btn-font-size-sm:      0.9375rem;
$btn-font-size-lg:      1.125rem;
$btn-font-family:       $font-family-titles;
$btn-font-weight:       $font-weight-bold;
$btn-line-height:       1.5;
$btn-padding-y-sm:      0.53em;
$btn-padding-y-lg:      0.67em;
$btn-padding-x-sm:      1.067em;
$btn-padding-x-lg:      1.333em;
$btn-border-radius-sm:  3px;
$btn-border-radius-lg:  5px;
$btn-box-shadow:        0 4px 4px rgba(0,0,0,0.25);
$btn-transition:        color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

// Input styling
$input-padding-y:           0.75rem;
$input-padding-x:           1rem;
$input-border-width:        1px;
$input-height-border:       $input-border-width * 2;
$input-height:              3.25rem;
$input-line-height:         $line-height-base;
$input-border-color:        color.adjust(map-get($colors, 'black'), $lightness: 80%);
$input-border-color-focus:  var(--color-black);
$input-border-radius:       0.3rem;
$input-font-family:         $font-family-base;
$input-font-size:           1em;
$input-font-weight:         $font-weight-base;
$input-color:               var(--color-text);
$input-placeholder-color:   #AAAAAA;
$input-bg:                  var(--color-white);
$checkbox-size:             1.25rem;
$checkbox-padding:          calc(#{$checkbox-size} + 0.5em);
$radio-size:                1.25rem;
$radio-padding:             calc(#{$radio-size} + 0.5em);
$form-switch-width:         3.625em;
$form-check-input-width:    2em;
$form-check-input-checked-bg-color: var(--color-valid);
$form-check-input-border:   1px solid $form-check-input-checked-bg-color;
$form-switch-bg-image:      url('../images/form/switch.svg');